<table class="table table-striped">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Created On</th>
		<th>Active</th>
	</tr>
	<tr ng-repeat="plan in plans">
		<td>{{plan.planUid}}</td>
		<td>{{plan.name}}</td>
		<td>{{plan.creationDate}}</td>
		<td>{{plan.active}}</td>
	</tr>
</table>