<div id="auth-form" ng-show="!authenticated">
	<p class="col-sm-12">
		<h4>Authenticate your account</h4>
	</p>
	<div class="alert alert-danger" ng-show="loginFailed">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		Unable to login! check to make sure that your server is running and that you have the correct
		info.
	</div>
	<form id="auth-form" role="form" class="form-horizontal">
		<div class="form-group">
			<label for="username" class="col-sm-2 control-label">Username</label>
			<div class="col-sm-10">
				<input type="text" name="username" id="username" ng-model="username" class="form-control" placeholder="Username" required />
			</div>
		</div>
		<div class="form-group">
			<label for="password" class="col-sm-2 control-label">Password</label>
			<div class="col-sm-10">
				<input type="password" name="password" id="password" ng-model="password" class="form-control" placeholder="Password" required />
			</div>
		</div>
		<div class="form-group">
			<label for="hostname" class="col-sm-2 control-label">Hostname</label>
			<div class="col-sm-10">
				<input type="text" name="hostname" id="hostname" ng-model="hostname" class="form-control" placeholder="Hostname" required />
			</div>
		</div>
		<div class="form-group">
			<label for="port" class="col-sm-2 control-label">Port</label>
			<div class="col-sm-10">
				<input type="text" name="port" id="port" ng-model="port" class="form-control" placeholder="Port" required />
			</div>
		</div>
		<div class="form-group">
			<label for="protocol" class="col-sm-2 control-label">Protocol</label>
			<div class="col-sm-10">
				<input type="text" name="protocol" id="protocol" ng-model="protocol" class="form-control" placeholder="Protocol" required />
			</div>
		</div>
		<div class="col-sm-12" align="right">
			<button name="login" id="login" class="btn btn-primary" ng-click="login()">Login</button>
		</div>
	</form>
</div>