<div id="upload-file" ng-show="authenticated">
	<h2>Upload files</h2>
	
	<form action="http://localhost:3000/api/files" id="sp-upload-form" class="dropzone" method="post" enctype="multipart/form-data">
		<!-- <select name="plans" name="planUid" ng-model="planUid" 
			ng-options="plan.planUid as plan.name for plan in plans">
			<option value="">Select a plan</option>
		</select> -->
		<label for="planUid">Select Plan</label>
		<select name="planUid">
			<option ng-value="plan.planUid" ng-repeat="plan in plans">
				{{plan.name}}	
			</option>
		</select>
		<div class="fallback">
			<input type="file" name="file" multiple />
		</div>
		<input type="hidden" name="path" value="" />
		<!-- <input type="submit" name="submit" value="submit" /> -->
	</form>
</div>