<div id="me">
	<h2>
		Welcome {{currentUser.username}}!
	</h2>
	
	<!-- <ul class="nav nav-tabs">
		<li class="active">
			<a href="#me">Info</a>
		</li>
		<li>
			<a href="#">Create Info</a>
		</li>
	</ul> -->

	<div id="user-info">
		<p>
			<div align="left">
				<span class="badge">User Info</span>
			</div>
		</p>

		<ul class="list-group">
			<li class="list-group-item">
				<strong>Id</strong>: {{currentUser.userId}}</li>
			<li class="list-group-item">
				<strong>userUid</strong>: {{currentUser.userUid}}</li>
			<li class="list-group-item">
				<strong>Status</strong>: {{currentUser.status}}</li>
			<li class="list-group-item">
				<strong>Username</strong>: {{currentUser.username}}</li>
			<li class="list-group-item">
				<strong>Email</strong>: {{currentUser.email}}</li>
		</ul>

		<p>
			<div align="left">
				<span class="badge">Response</span>
			</div>
		</p>

		<pre>
			{{jsonifiedUser}}
		</pre>

		<p>
			<div align="left">
				<span class="badge">Plans</span>
			</div>
		</p>

		<div id="plans" ng-include="'partials/_plans.html'"></div>
	</div>	
</div>
