<h2>
	Plans
	<div class="pull-right">
		<button type="button" class="btn btn-primary" ng-click="displayForm = true">Add Plan</button>
	</div>
</h2>

<form id="plan-form" role="form" class="form-horizontal">
	<div id="plan-form" ng-show="displayForm" class="well">
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">Name</label>
			<div class="col-sm-10">
				<input type="text" name="name" id="name" ng-model="name" class="form-control" placeholder="Username" required />
			</div>
		</div>	
		<div class="col-sm-12" align="right">
			<button name="create" id="create" class="btn btn-primary" ng-click="create()">Create</button>
		</div>
		<div class="clearfix"></div>
	</div>	
</form>
<div id="plans" ng-include="'partials/_plans.html'"></div>